DATABASE_URL="postgresql://user:password@localhost:5432/dellano_admin?schema=public"
JWT_SECRET="troque-por-um-segredo-forte-de-pelo-menos-32-caracteres"
ADMIN_EMAIL="admin@dellanosousa.com.br"
ADMIN_PASSWORD="admin123"
